spring:
  config:
    activate:
      on-profile: dev
    import: optional:classpath:application-oauth2.yml

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1q2w3e4r
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  session:
    jdbc:
      initialize-schema: embedded
      table-name: spring_session
      schema: classpath:session.sql
    timeout: 1m

server:
  servlet:
    session:
      cookie:
        name: JSESSIONID
        path: /
        http-only: true
        secure: false
        same-site: lax

logging:
  level:
    root: INFO
    zip.hyeon: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"