spring:
  application:
    name: java-open-mission-8
logging:
  file:
    name: /home/ubuntu/app/application.log
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always