spring:
  application:
    name: java-open-mission-8
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always