.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.main-title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 32px;
}

.main-desc-box {
    background: #35363a;
    max-width: 800px;
    margin-bottom: 36px;
    padding: 24px;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    text-align: left;
}

.review-btn {
    background: #5499ef;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 32px;
    font-size: 16px;
    cursor: pointer;
}

.review-btn:hover {
    background: #3573c8;
}